@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html {
    font-family: 'Fira Sans';
    font-weight: 200;
    font-size: 12pt;
    color: #17181D;

    min-height: 100vh;

    background-color: #FFFFFF;
}

a:link, a:active {
    color: #1C3BB9;
}

a:visited {
    color: #6239C9;
}

h1 {
    font-size: 28pt;
    font-weight: 400;
}

h2 {
    font-size: 22pt;
    font-weight: 400;
}

h3 {
    font-size: 18pt;
    font-weight: 300;

    padding-top: 10px;
    padding-bottom: 7px;
}