h1 {
    font-size: 28pt;
    font-weight: 500;
}

h2 {
    font-size: 22pt;
    font-weight: 500;
}

h3 {
    font-size: 18pt;
    font-weight: 400;

    padding-top: 10px;
    padding-bottom: 7px;
}