.title {
    /* I keep the height at a level where you can se there is more */
    height: calc(60vh - 125pt);
    padding-top: 40vh;

    text-align: center;

    /* TODO: Background image */
    background-color: #1e1e1e;
}

@media (min-width: 530px) {
    .title {
        height: calc(60vh - 30pt);
    }
}

.title > * > * {
    color: white;
    text-decoration: none;
}