.title {
    /* I keep the height at a level where you can see there is more */
    height: calc(60vh - 152pt);
    padding: 0;
    padding-top: 40vh;

    text-align: center;

    background-color: #000000;
    background: linear-gradient(to bottom, rgba(0,0,0,0.95), rgba(0,0,0,0.75)),url("../../img/header.svg"),#000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 830px) {
    .title {
        height: calc(60vh - 30pt);
        background-color: #000000;
        background: linear-gradient(to bottom, rgba(0,0,0,0.95), rgba(0,0,0,0.75)),url("../../img/header.svg"),#000000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.title > * > a:link, .title > * > a:active, .title > * > a:visited {
    text-decoration: none;
    color: #EEEEEE;
}