.navbar-nav {
    text-align: center;

    padding: 5pt;

    color: #f2f8f8;
    background-color: #EEEEEE;

    font-size: 13pt;

    z-index: 10;

    position: relative;
    top: 0;
    left: 0;
    right: 0;

    list-style: none;
}

.navbar-nav > li {
    padding-left: 5pt;
    padding-right: 5pt;
}

.navbar-nav > li > a:link, .navbar-nav > li > a:visited, .navbar-nav > li > a:active {
    text-decoration: none;
    color: #17181D;
}

/* If the width is too small, display links under each other */
@media (min-width: 830px) {
    .navbar-nav {
        background-color: #FFFFFF22;
        position: fixed;
        white-space: nowrap;
    }

    .navbar-nav > li {
        display: inline;
    }
}