.content {
    margin-left: 20px;
    margin-right: 20px;

    position: relative;

    overflow-x: hidden;
    height: auto;
}

.content > .part {
    position: absolute;

    opacity: 0;

    display: inline-block;

    width: calc(100% - 40px);

    margin: 0;
    padding: 0;

    -webkit-transition: opacity 900ms;
    -moz-transition: opacity 900ms;
    -o-transition: opacity 900ms;
    transition: opacity 900ms;
}

/* Display first image */
.content > .part:first-child {
    opacity: 1;
}

.content > .part > .text {
    position: absolute;
    top: 0;
    left: 0;
}

.content > .part > h3 {
    display: inline-block;
}

.content > .part > img {
    visibility: hidden;
    width: 0;
}

.button-group {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 550px) {
    .content > .part > .text {
        left: 170px;
    }

    .content > .part > img {
        visibility: visible;

        left: 0;

        width: 150px; /* I'm still not sure on this, but it'll do */

        padding-right: 10px;
        padding-top: 10px;
    }
}

.button-group > button {
    color: transparent;
    background-color: transparent;

    border: 1px black solid;
    border-radius: 5px;

    margin-left: 5px;
    margin-right: 5px;

    width: 10px;
    height: 10px;
}